/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* google fonts  */

/* Root color and font family */
:root {
    --Work-Sans: "Work Sans", serif;
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --dark-4: #A1A1A1;
    --dark-5: #D0D0D0;
    --dark-6: #E7E7E7;
    --dark-7: #F3F3F3;
    --white-color: #fff;
    --btn-color: #FF900E;
    --bg-color: rgba(255, 144, 14, 0.1);
}

/* Root color and font family */
/* basic styles */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span,
table,
footer,
nav,
div,
section {
    padding: 0;
    margin: 0;
}

/* basic styles  */
/* shared style  */
.d-flex {
    display: flex;
}

.header-main {
    width: 100%;
}

.container {

    width: 85%;
    margin: 0 auto;
}

/* shared style  */
/* header style  */
.header-main {
    width: 100%;
    background-color: var(--bg-color);

}

.nav-main {
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.brand {
    font-family: var(--Work-Sans);
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-1);


}

.nav-item {
    margin-left: 50px;

}

.nav-link {
    font-family: var(--Work-Sans);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--dark-2);

}

.container {
    width: 85%;
    margin: 0 auto;
}

/* header style  */
/* banner styles  */
.banner-top-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 15px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.banner-title {
    font-family: var(--Work-Sans);
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-1);
    display: block;
}

.banner-title span {
    display: block;
}

.banner-description,
.quick-content-description,
.features-description,
.features-box-description,
.some-description,
.facts-box-content-description {
    font-family: var(--Work-Sans);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 25px 0px;
}

.primary-btn {
    padding: 20px 25px;
    background-color: var(--btn-color);
    border-radius: 8px;
    font-family: var(--Work-Sans);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--white-color);
    border: 1px solid var(--btn-color);
    transition: all linear 0.5s;
}

.primary-btn:hover {
    background-color: var(--white-color);
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    transition: all linear 0.5s;
}

.banner-img {
    padding-bottom: 30px;
}

.banner-img img {
    width: 100%;
}

/* banner styles  */
/* main styles  */
/* quick list stylese */
.quick-list {
    padding: 50px 0px;
}

.quick-list-content {

    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.quick-img-box {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-right,
.quick-img-box {
    width: 50%;
}

.quick-img-box img {
    width: 100%;
}

.quick-content {
    max-width: 530px;
}

.quick-content-title,
.some-title,
.facts-box-content-title {
    font-family: var(--Work-Sans);
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-1);
}

.dark-3 {
    font-weight: 500;
    color: var(--dark-3);
}

.color-btn {
    color: var(--btn-color);
}

/* quick list styles  */
/* features Styles  */
.features {
    padding: 50px 0px;
}

.features-main {
    justify-content: space-between;
    gap: 100px;

}

.features-right,
.features-left {
    width: 50%;
}

.features-right img {
    width: 100%;
}

.features-title {
    font-family: var(--Work-Sans);
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-1);
    padding-left: 20px;
    position: relative;
}

.features-title::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    background-color: var(--btn-color);
    top: 10%;
    left: 0;
}

.features-box-title {
    font-family: var(--Work-Sans);
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-1);
}

.features-box-description {
    margin: 12px 0px;
}

.features-box {
    margin-top: 25px;
}

.features-box {
    padding: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.features-btn {
    font-size: 3rem;
    margin-left: -70px;
    margin-top: -70px;
}

.features-btn span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
}

/* features Styles  */
/* facts section styles  */
.facts-tops {
    max-width: 540px;
}

.facts-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 20px;
    border: 1px solid var(--btn-color);
    border-radius: 8px;
}

.facts-box-content-description {
    margin-top: 0px;
}

.facts-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
}

/* Responsive styles  */
@media screen and (max-width:575.9px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .d-flex {
        flex-direction: column;
    }

    .brand,
    .nav-link {
        text-align: center;
        margin-bottom: 1rem;
    }

    .banner-top-content {
        padding: 15px 10px;
    }

    .banner-title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .quick-list {
        padding: 15px 0px;
    }

    .quick-right,
    .quick-img-box,
    .features-right,
    .features-left {
        width: 95%;
        margin: 0 auto;
    }

    .quick-img-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-box{
        grid-template-columns: repeat(2, 1fr);

    }
    .quick-list-content,
    .quick-img-box {
        gap: 15px;

    }
    .some-facts{
        padding: 0px 10px;
    }
    .features-btn {

        margin-left: 10px;
        margin-top: 10px;
    }

    .features-box {
        padding: 10px;
        width: 95%;
        margin: 15px auto;
    }

    .features-main,
    .facts-box {
        gap: 20px;

    }

    .facts-box-content {
        padding: 25px;
        margin: 0 auto;
    }


}

/* Responsive styles  */